<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-action-list *ngFor="let cuisine of cuisines">
      <button mat-list-item (click)="query(cuisine)" > {{cuisine}} </button>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-card class='border'> 
        <mat-card-title>{{title}}</mat-card-title>
        <mat-chip-list *ngFor="let recommendation of recommendations">
          <mat-chip>{{recommendation}}</mat-chip>
        </mat-chip-list>
      </mat-card>
      
  </mat-sidenav-content>
</mat-sidenav-container>